.App {
  text-align: left;
  background-color: rgb(40, 40, 54);
  position: relative;
  height: 100%;
}

.NavBar {
  position: relative;
  width: 100%;
  height: 15%;
  padding-top: 0%;
  text-align: center;
  background-image: url("BackgroundStadium.jpg");
  background-size: 30% 100%;
  
  
}

.HeaderText{
  display: block;
  position: relative;
  top: 20%;
  right: 20%;
  font: Helvetica;
  font-size: 700%;
  width: 100%;
  color: white;
}

.smallerNav{
  position: relative;
  width: 100%;
  background-color: rgb(255, 0, 0);
  height: 5%;
  text-align: center;
}

.smallertext{
  display: inline;
  position: relative;
  right: 10%;
  color: white;
  font-size: medium;
  font: Times;
  top: 25%;
}